{% extends 'base.html' %}

{% load static %}

{% block content %}
    <!-- about -->
	<div class="features py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="text-center mb-lg-5 mb-4">
				<h3 class="tittle mb-2">About Us</h3>
				<p>Some words about our property</p>
			</div>
			<div class="row features-row">
				<div class="col-lg-5 features-right mt-3">
					<img src="{% static 'images/about.jpg' %}" class="img-fluid" alt="" />
				</div>
				<div class="col-lg-7 features-left mt-lg-0 mt-5">
					<div class="row features-grid">
						<div class="col-3 features-grid-left text-right">
							<i class="fab fa-blackberry"></i>
						</div>
						<div class="col-9 features-grid-right">
							<h4 class="mb-2">Itaque earum rerum </h4>
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum </p>
						</div>
					</div>
					<div class="row features-grid features-grid-mdl my-4">
						<div class="col-3 features-grid-left text-right">
							<i class="fab fa-d-and-d"></i>
						</div>
						<div class="col-9 features-grid-right">
							<h4 class="mb-2">Sapiente delectus</h4>
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum </p>
						</div>
					</div>
					<div class="row features-grid">
						<div class="col-3 features-grid-left text-right">
							<i class="fab fa-mixcloud"></i>
						</div>
						<div class="col-9 features-grid-right">
							<h4 class="mb-2">Itaque earum rerum </h4>
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //about -->
	
{% endblock content %}